$yellow: #FFCA28
$blue: #4461AA
$white: #eee
$black: #333

@mixin size($w, $h:$w)
  width: $w
  height: $h

@mixin absoluteCenter
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

@mixin flexCenter
  display: flex
  justify-content: center
  align-items: center

@mixin verticalCenter
  display: flex
  flex-direction: column
  align-items: center

*, *:before, *:after
  margin: 0
  padding: 0
  box-sizing: border-box
  color: $white
  user-select: none

::-webkit-scrollbar
  width: 0

html, body
  +size(100%)
  font-size: 5vw
  text-size-adjust: none

body
  position: relative
  background-color: $black

img
  +size(100%)
  pointer-events: none
  
.phone
  +absoluteCenter
  display: none

.app
  padding: 1.4rem
  +size(100%)
  +absoluteCenter
  +verticalCenter
  background-color: $black
  overflow-y: scroll
  .avatar
    +size(13rem)
    img
      border-radius: 50%
      overflow: hidden
      box-shadow: 0 .2em .5em rgba(0, 0, 0, 0.3) // x, y, blur, color
  h1
    margin: 1rem 0
    font-family: 'Caveat', cursive
    font-size: 2.3rem
    letter-spacing: 0.16rem
  ul
    margin-bottom: 0.6rem
    +verticalCenter
    li
      margin-bottom: 0.84rem
      +size(14.4rem, 2.6rem)
      +flexCenter
      list-style: none
      background-color: dimgray
      // border: 0.1rem solid $white
      border-radius: 0.5em
      &:last-child
        margin-bottom: 0
      a
        +size(100%)
        +flexCenter
        font-family: 'Roboto Mono', monospace
        font-size: 1rem
        text-decoration: none
  .author
    margin-bottom: 0.84rem
    font-family: sans-serif
    font-size: 0.7rem

// Desktop screen's orientation is portrait
@media screen and (min-width: 1025px) // size > 1025px
  body
    background-color: $blue

  .phone
    display: block
    +size(6rem, auto)

  .app
    +size(19.5rem, 34.3rem)
    transform: scale(0.2) translate(-49rem, -87.4rem)
    ul
      margin-bottom: 0.3rem